<%= render'admin/adminheader' %>
<div class = "container">
    <div class = "row my-3">
        <div class = "col-md2 bg-secondary text-center">
            <h4>商品一覧</4h>
        </div>
        <div class = "col-md-1 offset-6">
            <%= button_to new_admin_item_path, method: :get do %>
            <i class="fas fa-plus"></i>
            <% end %>
        </div>

    </div>

<table class = "table">
    <tr class = "bg-secondary">
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
    </tr>

<% @items.each do |f| %>
    <tr>
        <td>
            <%= f.id %>
        </td>
        <td>
          <%= link_to admin_item_path(@items.ids), class:'text-dark' do %>
            <%= f.name %>
          <% end %>
        </td>
        <td>
            <%= f.price %>
        </td>
        <td>
            <%= f.genre.name %>
        </td>
        <td>
            <% if f.is_active == true %>
             <h5 class="text-success">販売中</h5>
            <% else %>
             <h5 class="text-muted">販売停止中</h5>
            <% end %>
        </td>
    </tr>
<% end %>
</table>

<%= paginate(@items) %>

</div>
