<% if customer_signed_in? %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to root_path do %>
  <p class="navbar-brand border border-dark pt-2 pb-2 pl-4 pr-4" href="#">LOGO</p>
  <% end %>

  <div class = "text-center">
    <% if customer_signed_in? %>
      <%= current_customer.last_name %>
      <%= current_customer.first_name %>
    <% end %>さんようこそ
  </div>

  <div class="collapse navbar-collapse flex-column ml-auto" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
          <%= link_to "マイページ",customer_path(current_customer.id),class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "商品一覧",items_path,class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "カート",cart_items_path,class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "ログアウト",destroy_customer_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
    <div class="ml-auto">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </div>
</nav>

<% else %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand border border-dark pt-2 pb-2 pl-4 pr-4" href="#">LOGO</a>
  <%= link_to root_path do %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% end %>

  <div class="collapse navbar-collapse flex-column ml-auto" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
          <%= link_to "About",about_path,class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "商品一覧",items_path,class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "新規登録",new_customer_registration_path,class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "ログイン",new_customer_session_path,class: "nav-link" %>
      </li>
    </ul>
    <div class="ml-auto">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </div>
</nav>
<% end %>